.calculator {


  background-color: #fff;
  padding: 10px;



  &__result{
    font-family: digital;
    font-size: 60px;
    height: 80px;
    line-height: 80px;

  }

  &__formulas {
    border: 1px dashed #ececec;
    border-left: 1px solid #3A5BB2;

    &__header {

      border-bottom: 1px dashed #ececec;

      &__button {
        margin: 10px;
      }

    }

    &__body {

    }
  }

  &__formula {

    padding: 5px 10px;
    //clear: both;
    border-bottom: 1px solid #ececec;
    box-shadow: 1px 1px 5px #ececec;
    display: inline-block;
    margin: 10px;

    &__name {
      float: left;
      height: 50px;
      line-height: 50px;
      font-size: 20px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    &__toolbar {
      float: right;


    }

    &__button {

      margin: 5px 0 0 10px;
      height: 40px;
      width: 40px;
      line-height: 40px;
      font-size: 20px;
      padding-top: 2px;


    }


  }


}