
$base-size: 50px;

@mixin size($size) {
  width: $size;
  height: $size;
}

@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}


.icon {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  overflow: hidden;
  fill: currentColor;


  &__cnt {
    width: 100%;
    height: 100%;
    background: inherit;
    fill: inherit;
    pointer-events: none; /* Do not catch pointer events */
    transform: translateX(0); /* Crisp fix for non-retina */
    -ms-transform: translate(0.5px, -0.3px); /* Crisp fix for IE */
  }


  &--m {
    @include size($base-size);
  }

  &--l {
    @include size($base-size * 2);
  }

  &--xl {
    @include size($base-size * 3);
  }

  &--xxl {
    @include size($base-size * 4);
  }

  &__spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &--pulse {
      animation: spin 1s infinite steps(8);
    }

    &--spin {
      animation: spin 2s infinite linear;
    }
  }
}
