.modal {

  &__overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    left: 0;
    top: 0;
    z-index: 1000;
  }

  &__content {

    width: 640px;
    height: 100%;
    margin: 0 auto;
    z-index: 1001;

  }
}