@import "reset";
@import "variables";


#app {
  height: 100%;
  width: 100%;
}

.app {
  width: 640px;
  //padding: 10px;
  //box-shadow: 1px 1px 5px #eee;
  margin: 0 auto;

  &__header {
    padding: 20px 0;
    border-bottom: 2px dashed #ececec;
  }

  &__logo {
    margin-left: -15px;
    float: left;
  }

  &__title {
    text-transform: uppercase;
    display: table-caption;
    margin: 20px 0 0 0;
  }
}