@import "variables";


@font-face {
  font-family: digital;
  src: url("/dist/fonts/DSDIGI.ttf");
}


*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "PingHei","Helvetica Neue","Helvetica","STHeitiSC-Light","Arial",sans-serif;
}

input, button {
  &:focus {
    outline: none;
  }
}

body {
  margin: 0;
  padding: 0;

}

